body{
2
background:#121212;
3
color:white;
4
margin:0;
5
font-family:Arial;
6
}
7
 
8
.header{
9
background:#d9d9d9;
10
color:black;
11
text-align:center;
12
padding:20px;
13
}
14
 
15
#clock{
16
font-size:90px;
17
font-weight:bold;
18
}
19
 
20
#date{
21
font-size:28px;
22
}
23
 
24
.grid{
25
display:grid;
26
grid-template-columns:1fr 1fr;
27
gap:15px;
28
padding:15px;
29
}
30
 
31
.card{
32
background:#1c1c1e;
33
border-radius:20px;
34
padding:20px;
35
}

36
#warning-icon{
37
font-size:48px;
38
text-align:center;
39
margin-bottom:10px;
40
}
}
