.traffic-card{
2
 
3
background:#1c1c1e;
4
 
5
border-radius:20px;
6
 
7
padding:15px;
8
 
9
margin-bottom:10px;
10
}
11
 
12
.time{
13
 
14
font-size:42px;
15
 
16
font-weight:bold;
17
}
18
 
19
.status{
20
 
21
font-size:24px;
22
}
23
 
24
.green{
25
color:#4caf50;
26
}
27
 
28
.yellow{
29
color:#ffb300;
30
}
31
 
32
.red{
33
color:#f44336;
34
}
